<h2>Page 1 (On-Demand Tests)</h2>
<button (click)="usingDecorator(true)">Sync Decorator</button>
<button (click)="usingDecorator(false)">Sync Decorator FAIL</button>
<br>
<button (click)="usingInitEndCalls(true)">Sync Init/End Calls</button>
<button (click)="usingInitEndCalls(false)">Sync Init/End Calls FAIL</button>
<br><br>
<button (click)="usingDecoratorOnPromise(true)">Promise Decorator</button>
<button (click)="usingDecoratorOnPromise(false)">Promise Decorator FAIL</button>
<br>
<button (click)="usingInitEndCallsOnPromise(true)">Promise Init/End Calls</button>
<button (click)="usingInitEndCallsOnPromise(false)">Promise Init/End Calls FAIL</button>
<br><br>
<button (click)="usingInitEndCallsOnObservable(true)">Observable Init/End Calls</button>
<button (click)="usingInitEndCallsOnObservable(false)">Observable Init/End Calls FAIL</button>
