<!--The whole content below can be removed with the new code.-->
<div class="center">
  <h1>Welcome to PerfLogger Tester App!!</h1>
  <button (click)="changeLogMethod()" [disabled]="disableChangeLogMethodButton">Change Log Method</button>
  <br><br>
  <a routerLink="/page1">Page 1</a>
  <a routerLink="/page2">Page 2</a>
</div>

<br>

<div class="content center">
  <router-outlet></router-outlet>
</div>

<h2>Performance Logs Statistics: </h2>
<pre>
  {{stats}}
</pre>

